.u-section-1 .u-sheet-1 {
  min-height: 646px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 103px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 483px;
  background-image: url("images/rtt-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 483px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 57px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 157px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 33px auto 0 6px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -46px auto 0 182px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -46px 71px 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 137px;
  background-image: none;
  height: 137px;
  margin: -526px auto 389px 293px;
  padding: 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 167px;
  }

  .u-section-1 .u-image-1 {
    min-height: 398px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 398px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 45px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -523px;
    margin-left: 229px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 130px;
  }

  .u-section-1 .u-image-1 {
    min-height: 305px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    width: 110px;
    height: 110px;
    margin-top: -518px;
    margin-bottom: 120px;
    margin-left: 173px;
    padding: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1302px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-image-1 {
    min-height: 582px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 14px 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 85px;
  }

  .u-section-1 .u-icon-1 {
    margin: -619px 34px 41px auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1198px;
  }

  .u-section-1 .u-image-1 {
    min-height: 366px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -733px;
    margin-right: 18px;
    margin-bottom: 119px;
  }
}