 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("backimg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 712px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 184px 0 0 586px;
}

.u-section-1 .u-text-2 {
  margin: 40px 0 0 370px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  align-self: flex-end;
  margin: 40px 0 60px auto;
  padding: 18px 63px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 386px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 170px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 5.07% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 2.75rem;
    margin-left: 210px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 14.12% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
    margin-top: 60px;
    margin-left: 33px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 598px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.625rem;
  width: 566px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 548px;
  margin: 24px auto 0;
}

.u-section-2 .u-list-1 {
  width: 976px;
  margin: 24px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 25px));
  min-height: 256px;
  grid-gap: 50px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 2px;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 24px auto 0 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 0 auto 0 2px;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 24px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 247px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 756px;
}

.u-section-3 .u-shape-1 {
  height: 398px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  width: 822px;
  font-weight: 700;
  text-transform: none;
  font-size: 3rem;
  margin: -318px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 40px auto -14px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 92px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 439px;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 5px 6px 30px 0 rgba(0,0,0,0.1);
  padding: 30px 20px;
}

.u-section-3 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  margin: 22px 9px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 378px;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 5px 6px 30px 0 rgba(0,0,0,0.1);
  padding: 30px 20px;
}

.u-section-3 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-3 .u-text-5 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 95px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 95px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 445px;
}

.u-section-3 .u-container-layout-6 {
  box-shadow: 5px 6px 30px 0 rgba(0,0,0,0.1);
  padding: 30px 20px;
}

.u-section-3 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  font-style: italic;
  margin: 33px 9px 0;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 371px;
}

.u-section-3 .u-container-layout-7 {
  box-shadow: 5px 6px 30px 0 rgba(0,0,0,0.1);
  padding: 30px 20px;
}

.u-section-3 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-3 .u-text-9 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 99px;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 768px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 76px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 362px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 312px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 78px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 78px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 367px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 306px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 82px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 728px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
    font-size: 2.75rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 116px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 119px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 119px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 126px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1125px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 174px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 179px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 179px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 189px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 925px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 110px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 113px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 113px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 119px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 584px;
}

.u-section-4 .u-text-1 {
  font-family: Montserrat, sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2;
  width: 890px;
  margin: 38px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 718px;
  margin: 44px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 62px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 20px 0 30px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  border-style: solid;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 0 auto;
  padding: 16px 84px 17px 83px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 62px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px 0 20px;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-size: 1rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 16px 56px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 73px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 73px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 68px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    width: 340px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 82px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 76px;
  }
} .u-section-5 {
  min-height: 970px;
}

.u-section-5 .u-shape-1 {
  height: 573px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: -497px auto 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 374px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 70px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-5 .u-line-1 {
  width: 150px;
  transform-origin: left center;
  height: 3px;
  margin: 30px auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 374px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 70px;
}

.u-section-5 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  font-style: normal;
  margin: 0 1px;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  margin: 27px auto 0 1px;
  padding: 10px 44px;
}

.u-section-5 .u-image-1 {
  width: 905px;
  height: 527px;
  margin: -46px auto 63px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 991px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 399px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 399px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    width: 836px;
    margin-top: -51px;
    margin-bottom: 70px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 938px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 481px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 60px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.125rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 481px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 60px;
  }

  .u-section-5 .u-image-1 {
    width: 600px;
    height: 400px;
    margin-top: -49px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 968px;
  }

  .u-section-5 .u-shape-1 {
    height: 658px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -582px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    width: 461px;
    height: 347px;
    margin-top: -21px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 884px;
  }

  .u-section-5 .u-shape-1 {
    height: 720px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -644px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 447px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-1 {
    width: 276px;
    height: 215px;
    margin-top: -43px;
    margin-bottom: 40px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 50px auto 0;
}

.u-section-6 .u-list-1 {
  width: 622px;
  grid-template-rows: auto auto auto;
  margin: 20px auto 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 459px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 20px;
}

.u-section-6 .u-text-2 {
  margin: -64px 0 0 115px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 20px;
}

.u-section-6 .u-text-3 {
  margin: -64px 0 0 115px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 20px;
}

.u-section-6 .u-text-4 {
  margin: -64px 0 0 115px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-list-1 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 569px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 449px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-size: 2.25rem;
  text-transform: none;
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  font-weight: 500;
  margin: 15px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 370px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-container-layout-1 {
    padding-top: 0;
  }
}